@import 'base/reset';
@import 'base/base';

.main-login {
    @include main();
    padding: 0 1rem 3rem; 

    &__logo {
        @include mainLogo();
        margin-top: 3rem;

        &__image {
            height: 34px;
            margin-bottom: 3rem;
        }
    }

    &__texto {
        padding: 0 0.5rem;
        color: #3772FF;
        font-size: 1rem;
        text-align: center;
        line-height: 1.3125rem;
    }

    &__form {
        padding: 3rem 0 5rem;
    }

}